.poetsen-one-regular {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  



body {    
    background-color: black;
    color: yellow;
    font-family: "Poetsen One";
    text-align: center;
    align-items: center;
    align-content: center;
}

h1{
    font-size: 60px;
}

p {
    font-size: 20px;
}

.nav{
    position: fixed;
    top: 0;
    left: 0;
    color: yellow;
    padding: 10px;
    border: 3px solid yellow;
    border-radius: 15px;
}

a{
    color: yellow;
}

