.share-tech-regular {
  font-family: "Share Tech", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.content {    
    position: relative;
    z-index: 1;
    color: rgb(0, 41, 107);
    font-family: "Share Tech";
    text-align: center;
    align-items: center;
    align-content: center;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 10px;
    width: 1200px;
    margin: 0 auto;
}

.bg {
    position: fixed;
    inset: 0;
    background-image: url('Images/bg.png');
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    z-index: 0;
}

h1{
    font-size: 60px;
}

p {
    font-size: 20px;
}

.nav{
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    z-index: 2;
}

a {
    color: rgb(0, 41, 107);
}

.a {
    padding-left: 30px;;
}

iframe {
    padding-right: 15px;
    padding-top: 10px;
}

body {
    background: transparent;
}

img {
    align-content: center;
}

.showcase {
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 500px;
}
