.poetsen-one-regular {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

.content {    
    position: relative;
    z-index: 1;
    color: white;
    font-family: "Poetsen One";
    text-align: center;
    align-items: center;
    align-content: center;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 10px;
}

.bg {
    position: fixed;
    inset: 0;
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    z-index: 0;
}

h1{
    font-size: 60px;
}

p {
    font-size: 20px;
}

.nav{
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    padding: 10px;
    border: 3px solid white;
    border-radius: 15px;
}

a{
    color: white;
}

iframe {
    padding-right: 15px;
    padding-top: 10px;
}

body {
    background: transparent;
}
